html {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
  width: 1920px;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pandamarket-logo {
  width: 198px;
  height: 66px;
  cursor: pointer;
}

.login-button {
  padding: 12px 20px;
  background-color: #3692ff;
  color: #ffffff;
  border: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

.content {
  height: 540px;
  background-color: #cfe5ff;
  display: flex;
  justify-content: center;
  align-items: end;
}

.container {
  display: flex;
}

.header-banner {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 30px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

.header-banner-button {
  background-color: #3692ff;
  border: none;
  border-radius: 33px;
  color: #ffffff;
  padding: 16px 124px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.header-image {
  width: 746px;
  height: 340px;
}

.header-banner-img {
  display: flex;
  justify-content: end;
}

main{
  height: 720px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 988px;
  height: 444px;
}

.main-image {
  width: 588px;
  height: 444px;
}

.description-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.badge-1 {
  color: #3692ff;
  font-size: 18px;
  font-weight: 800;
  position: relative;
  right: 75px;
}

p {
  font-size: 24px;
  font-weight: 500;
}

.description-content {
  margin-left: 50px;
}

.description-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 70px;
  text-align: right;
}

.badge-2 {
  color: #3692ff;
  font-size: 18px;
  font-weight: 800;
}

.badge-3 {
  color: #3692ff;
  font-size: 18px;
  font-weight: 800;
  position: relative;
  right: 110px;
}

.footer-image {
  width: 746px; 
  height: 397px;
}

.footer-title {
  margin-top: 130px;
  margin-right: 60px;
}

.footer-background {
  height: 160px;
  background-color: #111827;
}