.footer {
  background-color: var(--color-gray-900);
  color: var(--color-gray-400);
  display: flex;
  justify-content: space-between;
  height: 160px;
  padding: 32px 400px;
}

.footerMenu {
  display: flex;
  gap: 30px;
  color: var(--color-gray-200);
}

.socialMedia {
  display: flex;
  gap: 12px;
}

.social {
  width: 20px;
}

@media (max-width: 1199px) {
  .footer {
    padding: 32px 16px;
    color: #cfcfcf;
    display: flex;
    height: 160px;
    justify-content: space-around;
    gap: 16px 0;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 32px 16px;
    color: #cfcfcf;
    display: flex;
    flex-wrap: wrap;
    height: 160px;
    align-content: flex-start;
    gap: 16px 0;
  }

  .footer > div:first-child {
    order: 3;
    width: 100%;
    margin-top: 35px;
    margin-left: 10px;
  }

  .footerMenu {
    order: 1;
    display: flex;
    gap: 30px;
    color: var(--gray-200);
    flex: 1;
    margin-left: 10px;
  }

  .socialMedia {
    order: 2;
    display: flex;
    gap: 12px;
    margin-right: 20px;
  }
}
