.login-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.panda-logo {
  width: 396px;
  height: 132px;
}

.login-page {
  width: 640px;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login-form {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

input,
.login-button,
.quick-login,
.signup-button {
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
}

.quick-login {
  background-color: #e6f2ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  padding: 0 30px;
  border-radius: 8px;
}

input {
  background-color: var(--gray-100);
  border-radius: 12px;
  border: none;
  padding: 15px 25px;
  margin: 15px 0 0 0;
}

.login-button,
.signup-button {
  padding: 16px 124px;
  border-radius: 999px;
  font-size: 20px;
  font-weight: 600;
}

.social {
  display: flex;
  gap: 10px;
}

label {
  font-size: 18px;
  font-weight: 700;
  color: var(--gray-800);
}

.login-button,
.signup-button {
  background-color: var(--gray-400);
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.quick-login-content {
  font-size: 16px;
  font-weight: 500;
}

.signup-request-description {
  font-size: 14px;
  font-weight: 500;
}

.footer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.signup-request {
  color: var(--main-blue);
  text-decoration: underline;
  font-size: 14px;
  font-weight: 500;
}

.input-password,
.input-password-repeat {
  position: relative;
}

.input-password .eyes,
.input-password-repeat .eyes {
  position: absolute;
  top: 50px;
  right: 30px;
  transform: none;
  background: none;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
}

.active {
  background-color: var(--main-blue);
  cursor: pointer;
}

.id-error-msg,
.nn-error-msg {
  color: red;
  display: block;
  margin-top: 10px;
  margin-left: 15px;
}

.pw-error-msg {
  color: red;
  display: block;
  margin-left: 15px;
  margin-top: 10px;
}

.error-border {
  border: 1px solid red;
}

.input-password .error-wrapper,
.input-password-repeat .error-wrapper {
  display: block;
  margin-top: 5px;
}

.input-password input,
.input-password-repeat input {
  padding-right: 40px;
}

@media (max-width: 767px) {
  body {
    padding: 0 16px;
  }

  .panda-logo {
    width: 198px;
    height: 66px;
  }

  .login-logo {
    margin-bottom: 0px;
  }

  .login-page {
    width: 100%;
    max-width: 400px;
  }

  input,
  .input-email,
  .input-password,
  .login-button,
  .quick-login,
  .login-button-wrap,
  .input-nickname {
    width: 100%;
  }

  .quick-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-password {
    position: relative;
  }

  .input-password .eyes,
  .input-password-repeat .eyes {
    position: absolute;
    top: 50px;
    right: 30px;
    transform: none;
    background: none;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
  }
}
