:root {
  --gray-900: #111827;
  --gray-800: #1f2937;
  --gray-700: #374151;
  --gray-600: #4b5563;
  --gray-500: #6b7280;
  --gray-400: #9ca3af;
  --gray-200: #e5e7eb;
  --gray-100: #f3f4f6;
  --gray-50: #f9fafb;
  --main-blue: #3692ff;
}

.login-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.panda-logo {
  width: 396px;
  height: 132px;
}

.login-page {
  width: 640px;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

input,
.login-button,
.quick-login {
  width: 640px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
}

.quick-login {
  background-color: #e6f2ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  padding: 0 30px;
  border-radius: 8px;
}

input {
  background-color: var(--gray-100);
  border-radius: 12px;
  border: none;
  padding: 15px 25px;
  margin: 0;
}

.login-button {
  padding: 16px 124px;
  border-radius: 999px;
  font-size: 20px;
  font-weight: 600;
}

.social {
  display: flex;
  gap: 10px;
}

.input {
  font-size: 18px;
  font-weight: 700;
  color: var(--gray-800);
  margin-bottom: 15px;
}

.login-button {
  background-color: var(--gray-400);
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.quick-login-content {
  font-size: 16px;
  font-weight: 500;
}

.signup-request-description {
  font-size: 14px;
  font-weight: 500;
}

.footer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.signup-request {
  color: var(--main-blue);
  text-decoration: underline;
  font-size: 14px;
  font-weight: 500;
}

.input-password {
  position: relative;
}

.eyes {
  position: absolute;
  top: 36px;
  bottom: 0;
  right: 30px;
  margin: auto;
  height: 18px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  body {
    padding: 0 16px;
  }

  .panda-logo {
    width: 198px;
    height: 66px;
  }

  input,
  .input-email,
  .input-password,
  .login-button,
  .quick-login,
  .login-page,
  .login-button-wrap,
  .input-nickname {
    width: 100%;
    max-width: 400px;
  }

  .quick-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-password {
    position: relative;
  }

  .eyes {
    position: absolute;
    top: 36px;
    bottom: 0px;
    right: 30px;
    margin: auto;
    height: 18px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}
